
.favorite-icon {
    color: red;
    font-size: 20px;
  }
  .card {
    position: relative;
    background-color:bisque;
    height: 600px

  }
  .heading{
      color: black;
      text-decoration: solid;
     
    }
  .price{
    color: black;
    text-decoration: solid;
    font-size: 20px;
  }
  
  .favorite-button {
    font-size: small;
    position: absolute;
    top: 30px;
    right: 40px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    color:black;
    font-size: 30px
  }
  .favorite-button.favorite-active {
    color: red
  }
  
